body {
    background-color: rgb(65, 65, 65);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
 color: rgb(177, 111, 240);
 text-align: center;
 font-weight: bold;
}