body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right top, #2e2e2e, #2c2b31, #2b2733, #2b2335, #2c1f36, #2f1d3c, #331a41, #371746, #3d1552, #42135f, #46106c, #4a0d7a);
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
 color: rgb(255, 255, 255);
 text-align: center;
 font-weight: bold;
}

button {
    background-color: transparent;
    border-color:white;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

input {
    background-color: transparent;
    border-color:white;
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    font-size: 15px;
}

p {
    font-size: 20px;
}

.popup.hide {
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}

#popup {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1001;
    opacity: 1;
    transition: opacity 0.4s ease;
}

#popup.fade-out {
    opacity: 0;
    transition: opacity 0.4s ease;
}

#rectangle {
    height: 600px;
    width: 500px;
    justify-content: center;
    background-color: #252525;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rectangle img, #rectangle image {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
}

body.popup-active > *:not(#popup) {
    filter: blur(6px);
    pointer-events: none;
    user-select: none;
}

body.popup-active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(20, 20, 30, 0.55); /* dark, but not black */
    z-index: 1000;
    pointer-events: none;
}

#popup button {
    background-color: rgb(0, 180, 0);
    color: white;
    font-weight: 500;
    border-color: transparent;
    width: 400px;
    border-radius: 10px;
    height: 50px;
    font-size: large;
}

#popup button:hover {
    background-color: rgb(51, 187, 51);
    color: white;
    font-weight: 700;
    transition: ease-in 0.3s;
    width: 420px;
}

#pozadi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(20, 20, 30, 0.747);
    z-index: 1000;
    pointer-events: none;
    user-select: none;
}