body {
    background-color: rgb(65, 65, 65);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
 color: rgb(177, 111, 240);
 text-align: center;
 font-weight: bold;
}

 button {
    background-color: transparent;
    border-color:white;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
 }

 input {
    background-color: transparent;
    border-color:white;
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    font-size: 15px;
 }

p {
    font-size: 20px;
}

 .cookie-popup {

 }